<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="POST">
      <div>
        <input
      type="text"
      id="Demat"
      name="demat_id"
      placeholder="DEMAT"
      required
      pattern="[A-Z0-9]{10}"
      oninvalid="this.setCustomValidity('Please enter a valid DEMAT ID')"
      onchange="this.setCustomValidity('')"
    />
      </div>
      <div>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
          pattern=".{8,}"
          oninvalid="this.setCustomValidity('Please enter a password with at least 8 characters')"
          onchange="this.setCustomValidity('')"
        />
      </div>
      <div>
        <input type="submit" value="Login" />
      </div>
    </form>
    <a href="/login">Register</a>
  </body>
</html>
