<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>

    <ul>
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
      <li><%= error.message %></li>
      <% }) %> <% } %>
    </ul>
    <form action="/register" method="POST">
      <div>
        <input
          type="text"
          id="pan"
          name="pan_number"
          placeholder="PAN"
          required
          pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}"
          oninvalid="this.setCustomValidity('Please enter a valid PAN number')"
          onchange="this.setCustomValidity('')"
        />
      </div>
      <div>
        <input
          type="text"
          id="first_name"
          name="first_name"
          placeholder="First Name"
          required
          pattern="[a-zA-Z]+"
          oninvalid="this.setCustomValidity('Please enter a valid first name')"
          onchange="this.setCustomValidity('')"
        />
      </div>
      <div>
        <input
          type="text"
          id="last_name"
          name="last_name"
          placeholder="Last Name"
          required
          pattern="[a-zA-Z]+"
          oninvalid="this.setCustomValidity('Please enter a valid last name')"
          onchange="this.setCustomValidity('')"
        />
      </div>
      <div>
        <input
          type="text"
          id="pincode"
          name="pincode"
          placeholder="Pincode"
          required
          pattern="[0-9]{6}"
          oninvalid="this.setCustomValidity('Please enter a valid 6-digit pincode')"
          onchange="this.setCustomValidity('')"
        />
      </div>
      <div>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
          pattern=".{8,}"
          oninvalid="this.setCustomValidity('Please enter a password with at least 8 characters')"
          onchange="this.setCustomValidity('')"
        />
      </div>
      <div>
        <input
          type="password"
          id="password2"
          name="password2"
          placeholder="Confirm Password"
          required
          pattern=".{8,}"
          oninvalid="this.setCustomValidity('Please enter a password with at least 8 characters')"
          onchange="this.setCustomValidity('')"
        />
      </div>
      <div>
        <input type="submit" value="Register" />
      </div>
    
      <a href="/login">Already registered? Login here</a>
    </form>    
  </body>
</html>
